<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>DATABASE SHEET</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico/download.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login102">
			<div class="wrap-login102">
				<form class="login100-form validate-form">
						<style>
								.img-container {
								  text-align: center;
								}
							  </style>
							  <div class="img-container"> <!-- Block parent element -->
								<img src="images/icons/download.png" alt="Nana Kay" style="width: 130px;height:130px;">
							  </div>
					<!-- <img src="images/icons/download.png" style="ime-mode: active; width: 88px;height: 88px;"> -->
					<div >
					<span class="login100-form-title p-b-16">
						<span style="font-size:90%;">
							<span style="font-family:'Times New Roman', Times, serif;">
						<h2 style="font-family:'Courier New', Courier, monospace;text-align:center;font-size:30px ;">
						<strong>DATABASE SHEET</strong></h2></span>
						</span>
						
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td colspan="4"style="text-align:center"><b >LEGON HALL </b></td>
                        </tr>
                        <tr>
                            <td><b>&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                            <td><b>STUDENT NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
                            <td><b>BLOCK</b></td>
                            <td><b>ROOM</b></td>
                        </tr>
                            <tr>
                              <td>Jill</td>
                              <td>Smith</td>		
                              <td>50</td>
                              <td>4</td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td>Jackson</td>		
                              <td>94</td>
                              <td>23</td>
                            </tr>
                            <tr>
                              <td>John</td>
                              <td>Doe</td>		
                              <td>80</td>
                              <td>21</td>

                            </tr>
                          </table>
					</span>
					 <span class="login100-form-title p-b-48">
					
					</span> 

					<!-- <div class="wrap-input100 validate-input" data-validate = "Enter an ID">
						<input class="input100" type="text" name="studentID">
						<span class="focus-input100" data-placeholder="STUDENT ID"></span>
					</div> -->
					<br>
					<br>
<!-- 
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="PASSWORD"></span>
					</div>
					<br> -->
					<br>
					<br>
					<br>
					<br>
<!-- 
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div> -->

					<div class="text-center p-t-115">
						<span class="txt1">
							<!-- Don’t have an account? -->
						</span>

						<a class="txt2" href="#">
							<!-- Sign Up -->
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>