<!DOCTYPE html>
<html lang="en-US">
    <head><title>studentProfile
    </title>
    <meta charset="UTF-8">
    <!-- ................................................................ -->
    <meta name="homepage" content="width=device-width, initial-scale=1">
    <!-- ========================================================================= -->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico/download.png"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        
</head>

<body>
        <div class="limiter">
                <div class="container-login101">
                    <div class="wrap-login101">
                        <form class="login100-form validate-form">
                                <style>
                                        .img-container {
                                          text-align: center;
                                        }
                                      </style>
                                      <div class="img-container"> <!-- Block parent element -->
                                        <img src="images/icons/download.png" alt="Nana Kay" style="width: 130px;height:130px;">
                                        <h2 style="text-align: center;"><b>RESIDENTIAL <br> REGISTRATION</b></h2>
                                      </div>
                                      <br>
                                      
<!--                                     
                                      <div id="header">
                                           
                                          <span class="login90-form-title p-b-70">
                                          <h2 style="text-align: left;font-size: 120%">Application Status:</h2>
                                        </span>
                                    
                                      </div>
                                      <br>
                                      <div id="section:middle">
                                            <span class="login90-form-title p-b-70">
                                            <h2 style="text-align: left;font-size: 120%">Action:</h2>
                                          </span>
                                        </div> -->
                                        <br>
                                        <div id="section">
                                               
                                            <span class="login100-form-title p-b-10">
                                                <h1 style="text-align:center;font-size:100%;color: lightcyan">APPLY NOW</h1>
                                                </span>
                                            </div>
                                            <br>
                                            <div>
                                                <span class="login1000-form-title p-b-100">
                                                    <h2 style="text-align: center;font-size: 130%"><strong>Choose Hall/Hostel</strong></h2>
                                                </span>
                                            </div>
                                            <br>
                                            <center>
                                            <select id="Choose Hall/Hostel" name="Choose Hall/Hostel">
                                               
                                                <option value="Hostel">Legon Hall</option>
                                                <option value="Hostel">CommonWealth Hall</option>
                                                <option value="Hostel">Akuaffo Hall</option>
                                                <option value="Hostel">Mensah-Sarbah</option>
                                                <option value="Hostel">Volta Hall</option>
                                                <option value="Hostel">Jubilee Hall</option>
                                                <option value="Hostel">Elizabeth Sey Hall</option>
                                                <option value="Hostel">Alexander Kwapong</option>
                                                <option value="Hostel">Hila Liman Hall</option>
                                                <option value="Hostel">Jean Nelson Hall</option>
                                                <option value="Hostel">Bani Hall</option>
                                                <option value="Hostel">James-Top Nelson Yankah hall</option>
                                                <option value="Hostel">Evandy Hall</option>
                                                <option value="Hostel">Pentagon Hall</option>
                                                <option value="Hostel">Choose Hall/Hostel</option>

                                              </select>
                                            
                                              <br>
                                              <br>
                                              <div>
                                                    <span class="login1000-form-title p-b-100">
                                                        <h2 style="text-align: center;font-size: 130%"><strong>Choose Block</strong></h2>
                                                    </span>
                                                </div>
                                                <br>
                                                <select  id="Choose Block" name="Choose Block">
                                               
                                                    <option value="Hostel">Legon Hall</option>
                                                    <option value="Hostel">CommonWealth Hall</option>
                                                    <option value="Hostel">Akuaffo Hall</option>
                                                    <option value="Hostel">Mensah-Sarbah</option>
                                                    <option value="Hostel">Volta Hall</option>
                                                    <option value="Hostel">Jubilee Hall</option>
                                                    <option value="Hostel">Elizabeth Sey Hall</option>
                                                    <option value="Hostel">Alexander Kwapong</option>
                                                    <option value="Hostel">Hila Liman Hall</option>
                                                    <option value="Hostel">Jean Nelson Hall</option>
                                                    <option value="Hostel">Bani Hall</option>
                                                    <option value="Hostel">James-Top Nelson Yankah hall</option>
                                                    <option value="Hostel">Evandy Hall</option>
                                                    <option value="Hostel">Pentagon Hall</option>
                                                    <option value="Hostel">Select Block</option>
    
                                                  </select>
                                                  <br>
                                                  <br>
                                                  <div>
                                                        <span class="login1000-form-title p-b-100">
                                                            <h2 style="text-align: center;font-size: 130%"><strong>Room Type</strong></h2>
                                                        </span>
                                                    </div>
                                                    <br>
                                                    <select  id=" Room Type" name="Room Type">
                                                   
                                                        <option value="Hostel">Legon Hall</option>
                                                        <option value="Hostel">CommonWealth Hall</option>
                                                        <option value="Hostel">Akuaffo Hall</option>
                                                        <option value="Hostel">Mensah-Sarbah</option>
                                                        <option value="Hostel">Volta Hall</option>
                                                        <option value="Hostel">Jubilee Hall</option>
                                                        <option value="Hostel">Elizabeth Sey Hall</option>
                                                        <option value="Hostel">Alexander Kwapong</option>
                                                        <option value="Hostel">Hila Liman Hall</option>
                                                        <option value="Hostel">Jean Nelson Hall</option>
                                                        <option value="Hostel">Bani Hall</option>
                                                        <option value="Hostel">James-Top Nelson Yankah hall</option>
                                                        <option value="Hostel">Evandy Hall</option>
                                                        <option value="Hostel">Pentagon Hall</option>
                                                        <option value="Hostel"> Room Type</option>
        
                                                      </select>
                                                      <br>
                                                      <br>
                                                  <div>
                                                        <span class="login1000-form-title p-b-100">
                                                            <h2 style="text-align: center;font-size: 130%"><strong>Select Room</strong></h2>
                                                        </span>
                                                    </div>
                                                    <br>
                                                    <select  id="Choose Room" name="Choose Room">
                                                   
                                                        <option value="Hostel">Legon Hall</option>
                                                        <option value="Hostel">CommonWealth Hall</option>
                                                        <option value="Hostel">Akuaffo Hall</option>
                                                        <option value="Hostel">Mensah-Sarbah</option>
                                                        <option value="Hostel">Volta Hall</option>
                                                        <option value="Hostel">Jubilee Hall</option>
                                                        <option value="Hostel">Elizabeth Sey Hall</option>
                                                        <option value="Hostel">Alexander Kwapong</option>
                                                        <option value="Hostel">Hila Liman Hall</option>
                                                        <option value="Hostel">Jean Nelson Hall</option>
                                                        <option value="Hostel">Bani Hall</option>
                                                        <option value="Hostel">James-Top Nelson Yankah hall</option>
                                                        <option value="Hostel">Evandy Hall</option>
                                                        <option value="Hostel">Pentagon Hall</option>
                                                        <option value="Hostel">Room Number</option>
        
                                                      </select>
                                                      </center>
                                                    
                            <!-- <img src="images/icons/download.png" style="ime-mode: active; width: 88px;height: 88px;"> -->
                            <!-- <span class="login100-form-title p-b-26">
                                <span style="font-size:200%;">
                                    <span style="font-family:'Courier New', Courier, monospace;">
                                <i style="font-family: 'Courier New', Courier, monospace;text-align:center;font-size:70% ;">
                                <strong>RESIDENTIAL APPLICATION</strong></i></span>
                                </span>
                            </span> -->
                             <span class="login100-form-title p-b-48">
                            
                            </span> 
                            
<!--         
                            <div class="wrap-input100 validate-input" data-validate = "Enter an ID">
                                <input class="input100" type="text" name="studentID">
                                <span class="focus-input100" data-placeholder="STUDENT ID"></span>
                            </div>
        
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                <span class="btn-show-pass">
                                    <i class="zmdi zmdi-eye"></i>
                                </span>
                                <input class="input100" type="password" name="pass">
                                <span class="focus-input100" data-placeholder="PASSWORD"></span>
                            </div> -->
        
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn">
                                        APPLY NOW>>>
                                    </button>
                                </div>
                            </div>
        
                            <div class="text-center p-t-115">
                                <span class="txt1">
                                    <!-- Don’t have an account? -->
                                </span>
        
                                <a class="txt2" href="#">
                                    <!-- Sign Up -->
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        
            <div id="dropDownSelect1"></div>
            
        <!--===============================================================================================-->
            <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
            <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
            <script src="vendor/daterangepicker/moment.min.js"></script>
            <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
            <script src="vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
            <script src="js/main.js"></script>
        
        
</body>
</html>